{% extends 'akcel/elements/layouts/layout.html' %}
{% load static %}
        
{% block additional_css %}
{% endblock %}
		
{% block content %}
<section class="content-inner-2">
	<div class="container">
		<div class="row">
			<div class="col-xl-4 col-md-6 m-b30">
				<div class="dz-card style-1">
					<div class="dz-media">
						<a href="{% url 'akcel:blog-details' %}"><img src="{% static 'akcel/images/blog/blog-grid/pic4.jpg' %}" alt=""></a>
						<ul class="dz-badge-list">
							<li><a href="javascript:void(0);" class="dz-badge">HEALTH</a></li>
						</ul>
						<a href="{% url 'akcel:blog-details' %}" class="btn btn-secondary">Read More</a>
					</div>
					<div class="dz-info">
						<h5 class="dz-title"><a href="{% url 'akcel:blog-details' %}">New vaccine for cattle calf loss learned </a></h5>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et aliqua.</p>
						
						<div class="author-wrappper">
							<div class="author-media">
								<img src="{% static 'akcel/images/avatar/avatar2.jpg' %}" alt=""> 
							</div>
							<div class="author-content">
								<div class="author-head">
									<h6 class="author-name">Hawkins Junior</h6>
								</div>
								<ul class="author-meta">
									<li class="date">November 21th, 2022</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-4 col-md-6 m-b30">
				<div class="dz-card style-1">
					<div class="dz-media">
						<a href="{% url 'akcel:blog-details' %}"><img src="{% static 'akcel/images/blog/blog-grid/pic3.jpg' %}" alt=""></a>
						<ul class="dz-badge-list">
							<li><a href="javascript:void(0);" class="dz-badge">TECHNOLOGY</a></li>
						</ul>
						<a href="{% url 'akcel:blog-details' %}" class="btn btn-secondary">Read More</a>
					</div>
					<div class="dz-info">
						<h5 class="dz-title"><a href="{% url 'akcel:blog-details' %}">4 Things parents learned for they jids in 2020 </a></h5>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et aliqua.</p>
						
						<div class="author-wrappper">
							<div class="author-media">
								<img src="{% static 'akcel/images/avatar/avatar3.jpg' %}" alt=""> 
							</div>
							<div class="author-content">
								<div class="author-head">
									<h6 class="author-name">Tom wilson</h6>
								</div>
								<ul class="author-meta">
									<li class="date">November 21th, 2022</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-4 col-md-6 m-b30">
				<div class="dz-card style-1">
					<div class="dz-media">
						<a href="{% url 'akcel:blog-details' %}"><img src="{% static 'akcel/images/blog/blog-grid/pic2.jpg' %}" alt=""></a>
						<ul class="dz-badge-list">
							<li><a href="javascript:void(0);" class="dz-badge">EDUCATION</a></li>
						</ul>
						<a href="{% url 'akcel:blog-details' %}" class="btn btn-secondary">Read More</a>
					</div>
					<div class="dz-info">
						<h5 class="dz-title"><a href="{% url 'akcel:blog-details' %}">He Created the Web. Now He’s Out to Remake </a></h5>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et aliqua.</p>
						
						<div class="author-wrappper">
							<div class="author-media">
								<img src="{% static 'akcel/images/avatar/avatar4.jpg' %}" alt=""> 
							</div>
							<div class="author-content">
								<div class="author-head">
									<h6 class="author-name">Adam Jordon</h6>
								</div>
								<ul class="author-meta">
									<li class="date">November 21th, 2022</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-4 col-md-6 m-b30">
				<div class="dz-card style-1">
					<div class="dz-media">
						<a href="{% url 'akcel:blog-details' %}"><img src="{% static 'akcel/images/blog/blog-grid/pic5.jpg' %}" alt=""></a>
						<ul class="dz-badge-list">
							<li><a href="javascript:void(0);" class="dz-badge">DESIGN</a></li>
						</ul>
						<a href="{% url 'akcel:blog-details' %}" class="btn btn-secondary">Read More</a>
					</div>
					<div class="dz-info">
						<h5 class="dz-title"><a href="{% url 'akcel:blog-details' %}">Partnering to create a community</a></h5>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et aliqua.</p>
						
						<div class="author-wrappper">
							<div class="author-media">
								<img src="{% static 'akcel/images/avatar/avatar1.jpg' %}" alt=""> 
							</div>
							<div class="author-content">
								<div class="author-head">
									<h6 class="author-name">Kaylynn Donin</h6>
								</div>
								<ul class="author-meta">
									<li class="date">November 21th, 2022</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-4 col-md-6 m-b30">
				<div class="dz-card style-1">
					<div class="dz-media">
						<a href="{% url 'akcel:blog-details' %}"><img src="{% static 'akcel/images/blog/blog-grid/pic6.jpg' %}" alt=""></a>
						<ul class="dz-badge-list">
							<li><a href="javascript:void(0);" class="dz-badge">FASHION</a></li>
						</ul>
						<a href="{% url 'akcel:blog-details' %}" class="btn btn-secondary">Read More</a>
					</div>
					<div class="dz-info">
						<h5 class="dz-title"><a href="{% url 'akcel:blog-details' %}">Primary School Build for Children</a></h5>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et aliqua.</p>
						
						<div class="author-wrappper">
							<div class="author-media">
								<img src="{% static 'akcel/images/avatar/avatar5.jpg' %}" alt=""> 
							</div>
							<div class="author-content">
								<div class="author-head">
									<h6 class="author-name">Richard Hartisona</h6>
								</div>
								<ul class="author-meta">
									<li class="date">November 21th, 2022</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-4 col-md-6 m-b30">
				<div class="dz-card style-1">
					<div class="dz-media">
						<a href="{% url 'akcel:blog-details' %}"><img src="{% static 'akcel/images/blog/blog-grid/pic7.jpg' %}" alt=""></a>
						<ul class="dz-badge-list">
							<li><a href="javascript:void(0);" class="dz-badge">DESIGN</a></li>
						</ul>
						<a href="{% url 'akcel:blog-details' %}" class="btn btn-secondary">Read More</a>
					</div>
					<div class="dz-info">
						<h5 class="dz-title"><a href="{% url 'akcel:blog-details' %}">Best & Less published their supplier lists</a></h5>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et aliqua.</p>
						
						<div class="author-wrappper">
							<div class="author-media">
								<img src="{% static 'akcel/images/avatar/avatar6.jpg' %}" alt=""> 
							</div>
							<div class="author-content">
								<div class="author-head">
									<h6 class="author-name">Cheyenne Curtis</h6>
								</div>
								<ul class="author-meta">
									<li class="date">November 21th, 2022</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-4 col-md-6 m-b30">
				<div class="dz-card style-1">
					<div class="dz-media">
						<a href="{% url 'akcel:blog-details' %}"><img src="{% static 'akcel/images/blog/blog-grid/pic8.jpg' %}" alt=""></a>
						<ul class="dz-badge-list">
							<li><a href="javascript:void(0);" class="dz-badge">TECHNOLOGY</a></li>
						</ul>
						<a href="{% url 'akcel:blog-details' %}" class="btn btn-secondary">Read More</a>
					</div>
					<div class="dz-info">
						<h5 class="dz-title"><a href="{% url 'akcel:blog-details' %}">New vaccine for cattle calf loss learned </a></h5>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et aliqua.</p>
						
						<div class="author-wrappper">
							<div class="author-media">
								<img src="{% static 'akcel/images/avatar/avatar7.jpg' %}" alt=""> 
							</div>
							<div class="author-content">
								<div class="author-head">
									<h6 class="author-name">Hawkins Junior</h6>
								</div>
								<ul class="author-meta">
									<li class="date">November 21th, 2022</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-4 col-md-6 m-b30">
				<div class="dz-card style-1">
					<div class="dz-media">
						<a href="{% url 'akcel:blog-details' %}"><img src="{% static 'akcel/images/blog/blog-grid/pic9.jpg' %}" alt=""></a>
						<ul class="dz-badge-list">
							<li><a href="javascript:void(0);" class="dz-badge">EDUCATION</a></li>
						</ul>
						<a href="{% url 'akcel:blog-details' %}" class="btn btn-secondary">Read More</a>
					</div>
					<div class="dz-info">
						<h5 class="dz-title"><a href="{% url 'akcel:blog-details' %}">Smallest of donations can help change a life</a></h5>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et aliqua.</p>
						
						<div class="author-wrappper">
							<div class="author-media">
								<img src="{% static 'akcel/images/avatar/avatar8.jpg' %}" alt=""> 
							</div>
							<div class="author-content">
								<div class="author-head">
									<h6 class="author-name">Tom wilson</h6>
								</div>
								<ul class="author-meta">
									<li class="date">November 21th, 2022</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-4 col-md-6 m-b30">
				<div class="dz-card style-1">
					<div class="dz-media">
						<a href="{% url 'akcel:blog-details' %}"><img src="{% static 'akcel/images/blog/blog-grid/pic1.jpg' %}" alt=""></a>
						<ul class="dz-badge-list">
							<li><a href="javascript:void(0);" class="dz-badge">HEALTH</a></li>
						</ul>
						<a href="{% url 'akcel:blog-details' %}" class="btn btn-secondary">Read More</a>
					</div>
					<div class="dz-info">
						<h5 class="dz-title"><a href="{% url 'akcel:blog-details' %}">It is a long established fact that a reader </a></h5>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et aliqua.</p>
						
						<div class="author-wrappper">
							<div class="author-media">
								<img src="{% static 'akcel/images/avatar/avatar9.jpg' %}" alt=""> 
							</div>
							<div class="author-content">
								<div class="author-head">
									<h6 class="author-name">Adam Jordon</h6>
								</div>
								<ul class="author-meta">
									<li class="date">November 21th, 2022</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">		
			<div class="col-12 m-sm-t0 m-t30">		
				<nav aria-label="Blog Pagination" class="pagination-bx">
					<div class="page-item">
						<a class="page-link prev" href="javascript:void(0);"><i class="fas fa-chevron-left"></i></a>
					</div>
					<ul class="pagination">
						<li class="page-item"><a class="page-link" href="javascript:void(0);">1</a></li>
						<li class="page-item"><a class="page-link active" href="javascript:void(0);">2</a></li>
						<li class="page-item"><a class="page-link" href="javascript:void(0);">3</a></li>
						<li class="page-item"><a class="page-link" href="javascript:void(0);">4</a></li>
					</ul>
					<div class="page-item">
						<a class="page-link next" href="javascript:void(0);"><i class="fas fa-chevron-right"></i></a>
					</div>
				</nav>
			</div>
		</div>
	</div>
</section>
{% endblock %}
