{% extends 'akcel/elements/layouts/layout.html' %}
{% load static %}
        
{% block additional_css %}
{% endblock %}
		
{% block content %}
<section class="content-inner bg-light section-pattren1">
	<div class="container">
		<div class="row">
			<div class="col-lg-10 m-b50">
				<div class="testimonial-3">
					<div class="testimonial-media">
						<img src="{% static 'akcel/images/testimonials/large/pic1.jpg' %}" alt="">
					</div>
					<div class="testimonial-content">
						<h5 class="testimonial-title">Heroes like you helped my son<br> win his battle.</h5>
						<p class="testimonial-text">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, or randomised words which <a href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#read">Read More</a></p>
						<div class="testimonial-info">
							<div class="quotes">
								<i class="fa-solid fa-quote-left"></i>
							</div>
							<div class="clearfix">
								<h5 class="testimonial-name">Lindsay S.</h5>
								<span class="testimonial-position">Community Engagement</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-10 offset-lg-2 m-b50">
				<div class="testimonial-3 right">
					<div class="testimonial-content">
						<h5 class="testimonial-title">Heroes like you helped my son<br> win his battle.</h5>
						<p class="testimonial-text">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, or randomised words which <a href="javascript:void(0);"  data-bs-toggle="modal" data-bs-target="#read">Read More</a></p>
						<div class="testimonial-info">
							<div class="quotes">
								<i class="fa-solid fa-quote-left"></i>
							</div>
							<div class="clearfix">
								<h5 class="testimonial-name">Lindsay S.</h5>
								<span class="testimonial-position">Community Engagement</span>
							</div>
						</div>
					</div>
					<div class="testimonial-media">
						<img src="{% static 'akcel/images/testimonials/large/pic2.jpg' %}" alt="">
					</div>
				</div>
			</div>
			<div class="col-lg-10 m-b50">
				<div class="testimonial-3">
					<div class="testimonial-media">
						<img src="{% static 'akcel/images/testimonials/large/pic3.jpg' %}" alt="">
					</div>
					<div class="testimonial-content">
						<h5 class="testimonial-title">Heroes like you helped my son<br> win his battle.</h5>
						<p class="testimonial-text">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, or randomised words which <a href="javascript:void(0);"  data-bs-toggle="modal" data-bs-target="#read">Read More</a></p>
						<div class="testimonial-info">
							<div class="quotes">
								<i class="fa-solid fa-quote-left"></i>
							</div>
							<div class="clearfix">
								<h5 class="testimonial-name">Lindsay S.</h5>
								<span class="testimonial-position">Community Engagement</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-10 offset-lg-2 m-b50">
				<div class="testimonial-3 right">
					<div class="testimonial-content">
						<h5 class="testimonial-title">Heroes like you helped my son<br> win his battle.</h5>
						<p class="testimonial-text">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, or randomised words which <a href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#read">Read More</a></p>
						<div class="testimonial-info">
							<div class="quotes">
								<i class="fa-solid fa-quote-left"></i>
							</div>
							<div class="clearfix">
								<h5 class="testimonial-name">Lindsay S.</h5>
								<span class="testimonial-position">Community Engagement</span>
							</div>
						</div>
					</div>
					<div class="testimonial-media">
						<img src="{% static 'akcel/images/testimonials/large/pic1.jpg' %}" alt="">
					</div>
				</div>
			</div>
			<div class="col-lg-10 m-b30">
				<div class="testimonial-3">
					<div class="testimonial-media">
						<img src="{% static 'akcel/images/testimonials/large/pic2.jpg' %}" alt="">
					</div>
					<div class="testimonial-content">
						<h5 class="testimonial-title">Heroes like you helped my son<br> win his battle.</h5>
						<p class="testimonial-text">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, or randomised words which <a href="javascript:void(0);"  data-bs-toggle="modal" data-bs-target="#read">Read More</a></p>
						<div class="testimonial-info">
							<div class="quotes">
								<i class="fa-solid fa-quote-left"></i>
							</div>
							<div class="clearfix">
								<h5 class="testimonial-name">Lindsay S.</h5>
								<span class="testimonial-position">Community Engagement</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<img src="{% static 'akcel/images/pattern/shape1.png' %}" class="shape-1 move-1" alt="shape">
	<img src="{% static 'akcel/images/pattern/shape2.png' %}" class="shape-2 move-2" alt="shape">
	<img src="{% static 'akcel/images/pattern/shape3.png' %}" class="shape-3 move-1" alt="shape">
	<img src="{% static 'akcel/images/pattern/shape5.png' %}" class="shape-4 rotating" alt="shape">
	<img src="{% static 'akcel/images/pattern/shape6.png' %}" class="shape-5 rotating" alt="shape">
	<img src="{% static 'akcel/images/pattern/shape6.png' %}" class="shape-6 rotating" alt="shape">
</section>

<!-- read more -->
<div class="modal fade modal-wrapper" id="read" tabindex="-1" role="dialog" aria-labelledby="read" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-body">
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
			</div>
		</div>
	</div>
</div>
{% endblock %}
