{% extends 'akcel/elements/layouts/layout.html' %}
{% load static %}
        
{% block additional_css %}
{% endblock %}
		
{% block content %}
<!-- About Us -->
<section class="content-inner-2">
	<div class="container">						
		<div class="row align-items-center project-bx left m-b50">
			<div class="col-lg-6 col-md-12 m-b30">
				<div class="dz-media split-box">
					<img src="{% static 'akcel/images/project/large/pic4.jpg' %}" alt="" class="app-1">
				</div>
			</div>
			<div class="col-lg-6 col-md-12 m-b30">
				<h3 class="m-b20">Samcung Okulus Rivt PC - Powered VR  Gaming Headset</h3>
				<p class="m-b0">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit au</p>
				<div class="fund-count m-t20 m-b25">
					<h2 class="text-primary">$ <span class="counter">24,553,852.24</span></h2>
					<h6>Total funded</h6>
				</div>
				<div class="author-wrappper">
					<div class="author-media">
						<img src="{% static 'akcel/images/avatar/avatar1.jpg' %}" alt=""> 
					</div>
					<div class="author-content">
						<div class="author-head">
							<h6 class="author-name">Hendric Anderson</h6>
							<ul class="rating-list">
								<li><i class="fa fa-star"></i></li>
								<li><i class="fa fa-star"></i></li>
								<li><i class="fa fa-star"></i></li>
								<li><i class="fa fa-star gray-light"></i></li>
								<li><i class="fa fa-star gray-light"></i></li>
							</ul>
						</div>
						<ul class="author-meta">
							<li class="campaign">12 Campaign</li>
							<li class="location">New York, London</li>
						</ul>
					</div>
				</div>
			</div>
		</div>	
		<div class="row align-items-center project-bx right m-b50">
			<div class="col-lg-6 col-md-12 m-b30">
				<h3 class="m-b20">Super Bass Headset by Beast Monster Technology Development</h3>
				<p class="m-b0">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit au</p>
				<div class="fund-count m-t20 m-b25">
					<h2 class="text-primary">$ <span class="counter">9,425,552.43</span></h2>
					<h6>Total funded</h6>
				</div>
				<div class="author-wrappper">
					<div class="author-media">
						<img src="{% static 'akcel/images/avatar/avatar2.jpg' %}" alt=""> 
					</div>
					<div class="author-content">
						<div class="author-head">
							<a href="javascript:void(0);"><h6 class="author-name">Bella Simalungun</h6></a>
							<ul class="rating-list">
								<li><i class="fa fa-star"></i></li>
								<li><i class="fa fa-star"></i></li>
								<li><i class="fa fa-star"></i></li>
								<li><i class="fa fa-star gray-light"></i></li>
								<li><i class="fa fa-star gray-light"></i></li>
							</ul>
						</div>
						<ul class="author-meta">
							<li class="campaign">12 Campaign</li>
							<li class="location">New York, London</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-lg-6 col-md-12 m-b30">
				<div class="dz-media split-box">
					<img src="{% static 'akcel/images/project/large/pic5.jpg' %}" alt="" class="app-1">
				</div>
			</div>
		</div>	
		<div class="row align-items-center project-bx left">
			<div class="col-lg-6 col-md-12 m-b30">
				<div class="dz-media split-box">
					<img src="{% static 'akcel/images/project/large/pic6.jpg' %}" alt="" class="app-1">
				</div>
			</div>
			<div class="col-lg-6 col-md-12 m-b30">
				<h3 class="m-b20">Mega Drone Stabilizier </h3>
				<p class="m-b0">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit au</p>
				<div class="fund-count m-t20 m-b25">
					<h2 class="text-primary">$ <span class="counter">79,412,552.90</span></h2>
					<h6>Total funded</h6>
				</div>
				<div class="author-wrappper">
					<div class="author-media">
						<img src="{% static 'akcel/images/avatar/avatar3.jpg' %}" alt=""> 
					</div>
					<div class="author-content">
						<div class="author-head">
							<h6 class="author-name">Dedi Cahyadi</h6>
							<ul class="rating-list">
								<li><i class="fa fa-star"></i></li>
								<li><i class="fa fa-star"></i></li>
								<li><i class="fa fa-star"></i></li>
								<li><i class="fa fa-star gray-light"></i></li>
								<li><i class="fa fa-star gray-light"></i></li>
							</ul>
						</div>
						<ul class="author-meta">
							<li class="campaign">12 Campaign</li>
							<li class="location">New York, London</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- About Us -->

<!-- Testimonials -->
<section class="testimonial-wrapper1 content-inner-2">
	<div class="section-head text-center">
		<h2 class="title">Testimonials</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
	</div>
	<div class="swiper testimonial-swiper">
		<div class="swiper-wrapper">
			<div class="swiper-slide">
				<div class="testimonial-1">
					<div class="testimonial-text">
						<p>“Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni..</p>
					</div>
					<div class="testimonial-details">
						<div class="testimonial-info">
							<div class="testimonial-pic">
								<img src="{% static 'akcel/images/testimonials/pic1.jpg' %}" alt="">
							</div>
							<div class="clearfix">
								<h5 class="testimonial-name">Johan Lee</h5>
								<span class="testimonial-position">Joe’s Parents</span>
							</div>
						</div>
						<div class="testimonial-rating">
							<ul>
								<li><i class="fa fa-star"></i></li>
								<li><i class="fa fa-star"></i></li>
								<li><i class="fa fa-star"></i></li>
								<li><i class="fa fa-star gray-light"></i></li>
								<li><i class="fa fa-star gray-light"></i></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="swiper-slide">
				<div class="testimonial-1">
					<div class="testimonial-text">
						<p>“Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni..</p>
					</div>
					<div class="testimonial-details">
						<div class="testimonial-info">
							<div class="testimonial-pic">
								<img src="{% static 'akcel/images/testimonials/pic2.jpg' %}" alt="">
							</div>
							<div class="clearfix">
								<h5 class="testimonial-name">Lee Jordon</h5>
								<span class="testimonial-position">Joe’s Parents</span>
							</div>
						</div>
						<div class="testimonial-rating">
							<ul>
								<li><i class="fa fa-star"></i></li>
								<li><i class="fa fa-star"></i></li>
								<li><i class="fa fa-star"></i></li>
								<li><i class="fa fa-star gray-light"></i></li>
								<li><i class="fa fa-star gray-light"></i></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="swiper-slide">
				<div class="testimonial-1">
					<div class="testimonial-text">
						<p>“Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni..</p>
					</div>
					<div class="testimonial-details">
						<div class="testimonial-info">
							<div class="testimonial-pic">
								<img src="{% static 'akcel/images/testimonials/pic3.jpg' %}" alt="">
							</div>
							<div class="clearfix">
								<h5 class="testimonial-name">Alex Costa</h5>
								<span class="testimonial-position">Joe’s Parents</span>
							</div>
						</div>
						<div class="testimonial-rating">
							<ul>
								<li><i class="fa fa-star"></i></li>
								<li><i class="fa fa-star"></i></li>
								<li><i class="fa fa-star"></i></li>
								<li><i class="fa fa-star gray-light"></i></li>
								<li><i class="fa fa-star gray-light"></i></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="swiper-btn container swiper-btn-center-lr">
			<div class="test-swiper-prev btn-prev style-1"><i class="fa fa-arrow-left-long"></i></div>
			<div class="test-swiper-next btn-next style-1"><i class="fa fa-arrow-right-long"></i></div>
		</div>
	</div>
</section>
<!-- Testimonials End -->
{% endblock %}		

	
