{% extends 'akcel/elements/layouts/layout.html' %}
{% load static %}
        
{% block additional_css %}
{% endblock %}
		
{% block content %}
<!-- Our Team -->
<section class="content-inner-2">
	<div class="container">
		<div class="row">
			<div class="col-xl-3 col-lg-4 col-sm-6">
				<div class="dz-team style-1 m-b30">
					<div class="dz-media">
						<a href="{% url 'akcel:project-story' %}"><img src="{% static 'akcel/images/team/team1.jpg' %}" alt=""></a>
						<ul class="team-social">
							<li><a href="https://www.facebook.com/" target="_blank" class="fab fa-facebook-f"></a></li>
							<li><a href="https://www.instagram.com/" target="_blank" class="fab fa-instagram"></a></li>
							<li><a href="https://twitter.com/" target="_blank" class="fab fa-twitter"></a></li>
						</ul>
					</div>
					<div class="dz-content">
						<h5 class="dz-name">Kaylynn Donin</h5>
						<span class="dz-position text-primary">Managing Director</span>
					</div>
				</div>
			</div>
			<div class="col-xl-3 col-lg-4 col-sm-6">
				<div class="dz-team style-1 m-b30">
					<div class="dz-media">
						<a href="{% url 'akcel:project-story' %}"><img src="{% static 'akcel/images/team/team2.jpg' %}" alt=""></a>
						<ul class="team-social">
							<li><a href="https://www.facebook.com/" target="_blank" class="fab fa-facebook-f"></a></li>
							<li><a href="https://www.instagram.com/" target="_blank" class="fab fa-instagram"></a></li>
							<li><a href="https://twitter.com/" target="_blank" class="fab fa-twitter"></a></li>
						</ul>
					</div>
					<div class="dz-content">
						<h5 class="dz-name">Jakob Bothman</h5>
						<span class="dz-position text-primary">District Accounts Analyst</span>
					</div>
				</div>
			</div>
			<div class="col-xl-3 col-lg-4 col-sm-6">
				<div class="dz-team style-1 m-b30">
					<div class="dz-media">
						<a href="{% url 'akcel:project-story' %}"><img src="{% static 'akcel/images/team/team3.jpg' %}" alt=""></a>
						<ul class="team-social">
							<li><a href="https://www.facebook.com/" target="_blank" class="fab fa-facebook-f"></a></li>
							<li><a href="https://www.instagram.com/" target="_blank" class="fab fa-instagram"></a></li>
							<li><a href="https://twitter.com/" target="_blank" class="fab fa-twitter"></a></li>
						</ul>
					</div>
					<div class="dz-content">
						<h5 class="dz-name">Lindsey Botosh</h5>
						<span class="dz-position text-primary">National Web Assistant</span>
					</div>
				</div>
			</div>
			<div class="col-xl-3 col-lg-4 col-sm-6">
				<div class="dz-team style-1 m-b30">
					<div class="dz-media">
						<a href="{% url 'akcel:project-story' %}"><img src="{% static 'akcel/images/team/team4.jpg' %}" alt=""></a>
						<ul class="team-social">
							<li><a href="https://www.facebook.com/" target="_blank" class="fab fa-facebook-f"></a></li>
							<li><a href="https://www.instagram.com/" target="_blank" class="fab fa-instagram"></a></li>
							<li><a href="https://twitter.com/" target="_blank" class="fab fa-twitter"></a></li>
						</ul>
					</div>
					<div class="dz-content">
						<h5 class="dz-name">Phillip Schleifer</h5>
						<span class="dz-position text-primary">National Intranet Specialist</span>
					</div>
				</div>
			</div>
			<div class="col-xl-3 col-lg-4 col-sm-6">
				<div class="dz-team style-1 m-b30">
					<div class="dz-media">
						<a href="{% url 'akcel:project-story' %}"><img src="{% static 'akcel/images/team/team5.jpg' %}" alt=""></a>
						<ul class="team-social">
							<li><a href="https://www.facebook.com/" target="_blank" class="fab fa-facebook-f"></a></li>
							<li><a href="https://www.instagram.com/" target="_blank" class="fab fa-instagram"></a></li>
							<li><a href="https://twitter.com/" target="_blank" class="fab fa-twitter"></a></li>
						</ul>
					</div>
					<div class="dz-content">
						<h5 class="dz-name">Adam Jordon</h5>
						<span class="dz-position text-primary">Managing Director</span>
					</div>
				</div>
			</div>
			<div class="col-xl-3 col-lg-4 col-sm-6">
				<div class="dz-team style-1 m-b30">
					<div class="dz-media">
						<a href="{% url 'akcel:project-story' %}"><img src="{% static 'akcel/images/team/team6.jpg' %}" alt=""></a>
						<ul class="team-social">
							<li><a href="https://www.facebook.com/" target="_blank" class="fab fa-facebook-f"></a></li>
							<li><a href="https://www.instagram.com/" target="_blank" class="fab fa-instagram"></a></li>
							<li><a href="https://twitter.com/" target="_blank" class="fab fa-twitter"></a></li>
						</ul>
					</div>
					<div class="dz-content">
						<h5 class="dz-name">Hawkins Junior</h5>
						<span class="dz-position text-primary">District Accounts Analyst</span>
					</div>
				</div>
			</div>
			<div class="col-xl-3 col-lg-4 col-sm-6">
				<div class="dz-team style-1 m-b30">
					<div class="dz-media">
						<a href="{% url 'akcel:project-story' %}"><img src="{% static 'akcel/images/team/team7.jpg' %}" alt=""></a>
						<ul class="team-social">
							<li><a href="https://www.facebook.com/" target="_blank" class="fab fa-facebook-f"></a></li>
							<li><a href="https://www.instagram.com/" target="_blank" class="fab fa-instagram"></a></li>
							<li><a href="https://twitter.com/" target="_blank" class="fab fa-twitter"></a></li>
						</ul>
					</div>
					<div class="dz-content">
						<h5 class="dz-name">Johan Lee</h5>
						<span class="dz-position text-primary">National Web Assistant</span>
					</div>
				</div>
			</div>
			<div class="col-xl-3 col-lg-4 col-sm-6">
				<div class="dz-team style-1 m-b30">
					<div class="dz-media">
						<a href="{% url 'akcel:project-story' %}"><img src="{% static 'akcel/images/team/team8.jpg' %}" alt=""></a>
						<ul class="team-social">
							<li><a href="https://www.facebook.com/" target="_blank" class="fab fa-facebook-f"></a></li>
							<li><a href="https://www.instagram.com/" target="_blank" class="fab fa-instagram"></a></li>
							<li><a href="https://twitter.com/" target="_blank" class="fab fa-twitter"></a></li>
						</ul>
					</div>
					<div class="dz-content">
						<h5 class="dz-name">Richard Hartisona</h5>
						<span class="dz-position text-primary">National Intranet Specialist</span>
					</div>
				</div>
			</div>
			<div class="col-xl-3 col-lg-4 col-sm-6">
				<div class="dz-team style-1 m-b30">
					<div class="dz-media">
						<a href="{% url 'akcel:project-story' %}"><img src="{% static 'akcel/images/team/team9.jpg' %}" alt=""></a>
						<ul class="team-social">
							<li><a href="https://www.facebook.com/" target="_blank" class="fab fa-facebook-f"></a></li>
							<li><a href="https://www.instagram.com/" target="_blank" class="fab fa-instagram"></a></li>
							<li><a href="https://twitter.com/" target="_blank" class="fab fa-twitter"></a></li>
						</ul>
					</div>
					<div class="dz-content">
						<h5 class="dz-name">Lee Jordon</h5>
						<span class="dz-position text-primary">Managing Director</span>
					</div>
				</div>
			</div>
			<div class="col-xl-3 col-lg-4 col-sm-6">
				<div class="dz-team style-1 m-b30">
					<div class="dz-media">
						<a href="{% url 'akcel:project-story' %}"><img src="{% static 'akcel/images/team/team10.jpg' %}" alt=""></a>
						<ul class="team-social">
							<li><a href="https://www.facebook.com/" target="_blank" class="fab fa-facebook-f"></a></li>
							<li><a href="https://www.instagram.com/" target="_blank" class="fab fa-instagram"></a></li>
							<li><a href="https://twitter.com/" target="_blank" class="fab fa-twitter"></a></li>
						</ul>
					</div>
					<div class="dz-content">
						<h5 class="dz-name">Jakob Bothman</h5>
						<span class="dz-position text-primary">District Accounts Analyst</span>
					</div>
				</div>
			</div>
			<div class="col-xl-3 col-lg-4 col-sm-6">
				<div class="dz-team style-1 m-b30">
					<div class="dz-media">
						<a href="{% url 'akcel:project-story' %}"><img src="{% static 'akcel/images/team/team11.jpg' %}" alt=""></a>
						<ul class="team-social">
							<li><a href="https://www.facebook.com/" target="_blank" class="fab fa-facebook-f"></a></li>
							<li><a href="https://www.instagram.com/" target="_blank" class="fab fa-instagram"></a></li>
							<li><a href="https://twitter.com/" target="_blank" class="fab fa-twitter"></a></li>
						</ul>
					</div>
					<div class="dz-content">
						<h5 class="dz-name">Sarah Albert</h5>
						<span class="dz-position text-primary">National Web Assistant</span>
					</div>
				</div>
			</div>
			<div class="col-xl-3 col-lg-4 col-sm-6">
				<div class="dz-team style-1 m-b30">
					<div class="dz-media">
						<a href="{% url 'akcel:project-story' %}"><img src="{% static 'akcel/images/team/team12.jpg' %}" alt=""></a>
						<ul class="team-social">
							<li><a href="https://www.facebook.com/" target="_blank" class="fab fa-facebook-f"></a></li>
							<li><a href="https://www.instagram.com/" target="_blank" class="fab fa-instagram"></a></li>
							<li><a href="https://twitter.com/" target="_blank" class="fab fa-twitter"></a></li>
						</ul>
					</div>
					<div class="dz-content">
						<h5 class="dz-name">Cheyenne Curtis</h5>
						<span class="dz-position text-primary">National Intranet Specialist</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Our Team -->
{% endblock %}
	
