{% extends 'dashboard/base_index/base.html' %}
{% load static %}
{% block title %}
Change password
{% endblock %}
{% block body %}
<link href="{% static 'dashboard/build/css/bootstrap.min.css'%}" id="bootstrap-style" rel="stylesheet" type="text/css" />
<link href="{% static 'dashboard/build/css/icons.min.css'%}" rel="stylesheet" type="text/css" />
<link href="{% static 'dashboard/build/css/app.min.css'%}" id="app-style" rel="stylesheet" type="text/css" />

<style>
    #id_first_name, #id_last_name, #id_phone_no, #id_avatar, #id_email {
        width: 100%;
        padding: 8px;
        border: 1px solid #ced4da;
        border-radius: 4px;
        box-sizing: border-box;
    }
</style>

<div class="main-content">
    <div class="page-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-flex align-items-center justify-content-between">
                        <h4 class="mb-0 font-size-18">Update Profile</h4>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <blockquote>Basic Information</blockquote>
                            <form class="form-horizontal" method="POST" action="{% url 'dashboard:change_password'%}">

                                {% csrf_token %}
                                {% if messages %}
                                {% for msg in messages %}
                                    <div class="alert alert-{{ msg.tags }} alert-dismissible text-bg-{{ msg.tags }} border-0 fade show" role="alert">
                                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close"></button>
                                        <strong>{% if msg.tags == 'success' %}Success{% elif msg.tags == 'warning' %}Warning{% endif %} - </strong>{{ msg.message }}
                                    </div>
                                {% endfor %}
                                {% endif %}
                                                                    <div class="mb-3">
                                    <label for="oldpassword">Current Password <span
                                        class="text-danger">*</span></label>
                                    <input type="password" class="form-control" name="{{ form.old_password.name }}" id="oldpassword" placeholder="Enter Current password">
                                                                        </div>
                                <div class="mb-3">
                                    <label for="newpassword">New Password <span
                                        class="text-danger">*</span></label>
                                    <input type="password" class="form-control " name="{{ form.new_password1.name }}" id="newpassword" placeholder="Enter New password">
                                                                        </div>
                                <div class="mb-3">
                                    <label for="userpassword">Confirm Password <span
                                        class="text-danger">*</span></label>
                                    <input type="password" id="userpassword" name="{{ form.new_password2.name }}" class="form-control " name="password" placeholder="Enter confirm password">
                                </div>
                                <div class="mb-3 row mb-0">
                                    <div class="col-12 text-end">
                                        <button class="btn btn-primary w-md waves-effect waves-light" type="submit">Change Password</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'dashboard/build/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'dashboard/build/js/app.min.js' %}"></script>

{% endblock %}
